<label class="switch theme-switch" for="theme-toggle">
  <input
    type="checkbox"
    id="theme-toggle"
    class="theme-toggle-input"
    aria-label="Basculer entre le mode clair et le mode sombre"
  />
  <span class="slider round" aria-hidden="true">
    <svg class="stars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 34" fill="none">
      <path
        id="star-1"
        class="star"
        d="M8 4l1.2 3.5h3.8L10.5 9.8 11.7 13 8 10.9 4.3 13l1.2-3.2-2.5-2.3h3.8L8 4z"
        fill="#fff"
      />
      <path
        id="star-2"
        class="star"
        d="M6 18l.8 2h2.2L7.2 21.2 8 23l-1.8-1.2-1.8 1.2.8-1.8-1.8-1.2h2.2L6 18z"
        fill="#fff"
      />
      <path
        id="star-3"
        class="star"
        d="M14 16l1 2.5h2.7l-2.2 1.6.8 2.7-2.3-1.7-2.3 1.7.8-2.7-2.2-1.6h2.7L14 16z"
        fill="#fff"
      />
      <path
        id="star-4"
        class="star"
        d="M22 3l1.4 4h4.2l-3.4 2.5 1.3 4.1-3.5-2.6-3.5 2.6 1.3-4.1-3.4-2.5h4.2L22 3z"
        fill="#fff"
      />
    </svg>
    <svg
      id="cloud-1"
      class="cloud-light"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 40 20"
    >
      <path fill="#eee" d="M8 14h20a8 8 0 1 0-1.2-15.9A10 10 0 0 0 8 14z" />
    </svg>
    <svg
      id="cloud-2"
      class="cloud-light"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 14"
    >
      <path fill="#eee" d="M4 12h14a6 6 0 1 0-.8-11.9A7 7 0 0 0 4 12z" />
    </svg>
    <svg
      id="cloud-3"
      class="cloud-light"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 16"
    >
      <path fill="#eee" d="M6 13h18a7 7 0 1 0-1-13.8A8 8 0 0 0 6 13z" />
    </svg>
    <svg
      id="cloud-4"
      class="cloud-dark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 40 20"
    >
      <path fill="#ccc" d="M8 14h20a8 8 0 1 0-1.2-15.9A10 10 0 0 0 8 14z" />
    </svg>
    <svg
      id="cloud-5"
      class="cloud-dark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 14"
    >
      <path fill="#ccc" d="M4 12h14a6 6 0 1 0-.8-11.9A7 7 0 0 0 4 12z" />
    </svg>
    <svg
      id="cloud-6"
      class="cloud-dark"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 16"
    >
      <path fill="#ccc" d="M6 13h18a7 7 0 1 0-1-13.8A8 8 0 0 0 6 13z" />
    </svg>
    <span class="sun-moon">
      <svg id="light-ray-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43">
        <circle cx="21.5" cy="21.5" r="20" fill="#fff" opacity="0.1" />
      </svg>
      <svg id="light-ray-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55">
        <circle cx="27.5" cy="27.5" r="25" fill="#fff" opacity="0.1" />
      </svg>
      <svg id="light-ray-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
        <circle cx="30" cy="30" r="28" fill="#fff" opacity="0.1" />
      </svg>
      <span id="moon-dot-1" class="moon-dot"></span>
      <span id="moon-dot-2" class="moon-dot"></span>
      <span id="moon-dot-3" class="moon-dot"></span>
    </span>
  </span>
</label>
